#centerDiv {
    position: absolute;
    width: 80%;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 45px;
    margin-top: 125px; /* Header Height */
    margin-bottom: 30px; /* Footer Height */
    /*text-align: center;*/
    top: 0;
    font-size: x-large;
    font-size: 3vh;
    background-color: white;
    line-height: 4.5vh;
}

#mePic {
    border-radius: 1%;
    border: 2px solid black;
    width: 25vh;
    height: 25vh;
    min-width: 100px;
    min-height: 100px;
    float: right;
    display: block;
    margin: 20px;
    background-image: url("Images/profilepic.jpg");
    background-size: 120%;
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(-10px 10px 0px var(--lightAccent));
}

#p1 {
      -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#p2 {
    display: block;
    float: left;
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
}